.logo-container {
    display: flex;
    justify-content: center;
}

html, body{
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    overflow: hidden; 
    font-family: 'Cute Font', cursive;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
}